#npmignore
yarn.lock
src
!src/bootstrap
!src/config
!src/controller
!/dist
/src
/docs
/.dumi
/.github
/docs-dist
/.editorconfig                          
/.eslintignore                           
/.eslintrc.js                               
/.fatherrc.ts                             
/.prettierignore                  
/.prettierrc
/.umirc.ts
tsconfig.json
yarn-error.log
yarn.lock